/mtbi-off-line-minapp/.idea/.gitignore
/mtbi-off-line-minapp/.idea/modules.xml
/mtbi-off-line-minapp/.idea/mtbi-off-line-minapp.iml
/mtbi-off-line-minapp/.idea/inspectionProfiles/Project_Default.xml
/mtbi-off-line-minapp/.idea/vcs.xml
