<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xzhang.boot.model.entity.UserAnswer">

    <resultMap id="BaseResultMap" type="cn.xzhang.boot.model.entity.UserAnswer">
                <id property="id" column="id" jdbcType="BIGINT"/>
                    <result property="appId" column="appId" jdbcType="BIGINT"/>
                    <result property="appType" column="appType" jdbcType="TINYINT"/>
                    <result property="scoringStrategy" column="scoringStrategy" jdbcType="TINYINT"/>
                    <result property="choices" column="choices" jdbcType="CLOB"/>
                    <result property="resultId" column="resultId" jdbcType="BIGINT"/>
                    <result property="resultName" column="resultName" jdbcType="VARCHAR"/>
                    <result property="resultDesc" column="resultDesc" jdbcType="CLOB"/>
                    <result property="resultPicture" column="resultPicture" jdbcType="VARCHAR"/>
                    <result property="resultScore" column="resultScore" jdbcType="INTEGER"/>
                    <result property="creator" column="creator" jdbcType="VARCHAR"/>
                    <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
                    <result property="updater" column="updater" jdbcType="VARCHAR"/>
                    <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
                    <result property="deleted" column="deleted" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
            id,
            appId,
            appType,
            scoringStrategy,
            choices,
            resultId,
            resultName,
            resultDesc,
            resultPicture,
            resultScore,
            creator,
            createTime,
            updater,
            updateTime,
            deleted
    </sql>
</mapper>
